<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" package="org.VCERP.Education.VC.configuration">
	<Properties>
		 <Property name="basePath">D:\\project\\vc-erp-logs 
			</Property> 
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%X{ip}] [%X{url}] [%X{method}] [%X{user}] [%X{session}] [%X{tag}] %c{1} - %msg%n" />
		</Console>
		<RollingFile name="json_file_logger" fileName="${basePath}/backend.log"
			filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
			<JsonFileLayout complete="false" compact="true"
				properties="true" eventEol="true" objectMessageAsJsonObject="true"
				pattern="%t %-5p %c{2} - %m%n">
			</JsonFileLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.vaatech.teps" level="info" additivity="true">
			<appender-ref ref="json_file_logger" level="info" />
		</Logger>
		<Root level="info" additivity="false">
			<appender-ref ref="console" level="info" />
		</Root>
	</Loggers>
</Configuration>
