.panel-body::before{
    display: table;
    content: " ";
}

@media (min-width: 992px)
.col-md-3 {
    width: 25%;
}

.col-md-3{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.content-entry .title-promote{
    max-width: 100%;
    width: 100%;
    background: #eee;
    min-height: 20px;
    margin-bottom: 5px;
    height: 50px;
    line-height: 2.2;
    
}


#btnDisplay{
    margin-top: 21px;
    border-radius: 0px;
    
}
.btn{
    border-radius: 0px !important;
    
}

.panel-heading{
    background: #f6f6f6;
    border-bottom: 1px solid #DADADA !important;
    padding: 18px;
    
}
.panel-title{
    color: #33353F;
    font-size: 20px !important;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 0;
}



/*   final     */
.accordion-container .content-entry i {
		font-style: normal;	
		color:#435d7d;
}
.accordion-container .content-entry #acc_sign:before {
		content: "+ ";
        font-size: 20px;
         margin-left: 10px;
}
.accordion-container .content-entry.open #acc_sign:before {
		content: "- ";
        font-size: 20px;
        margin-left: 10px;
}
.accordion-content{
    display: none;
}
.input-group-btn{
    text-align: center;
    
    background: #eee;
   
   
}
.glyphicon-remove-circle {
    font-size: 14px;
   
}
/*
.text-danger{
     color: red; !important;
}*/

.pull-right{
    float: right !important;
    margin-right: 10px;
}








.content-body{
    padding: 20px;
    position: relative;
    vertical-align: top;
}
/*
@media only screen and (min-width: 768px)
.fixed .page-header {
    left: 300px;
    margin: 0;
    position: fixed;
    right: 0;
    top: 60px;
}
*/
