/* table css */
.TableClass{
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.pagination li.active a, .pagination li.active a.page-link {
	background:   #435d7d;
}

.pagination li.active a:hover {
	background: #435d7d;
}
.custom-checkbox input[type="checkbox"]:checked+label:before {
	border-color:  #435d7d;
	background:  #435d7d;
}

/* button css */
.btn-success , .headerClass , #saveBtn{
	color: white ! important;
	background-color:#53b700 !important ;
	border-color:#53b700 !important;
	
}
#cancelBtn:hover {
background-color: #F44336;
color:#fff !important;
}

.btn-warning{
	background-color:#ff793f !important ;
	border-color:#ff793f !important;	
}

.btn-danger{
	background-color:#d43f3a !important ;
	border-color:#d43f3a !important;
	
}
.btn-info{
	background-color:#34ace0 !important ;
	border-color:#34ace0 !important;		
}
.btn-secondary{
	background-color:#218c74 !important ;
	border-color:#218c74 !important;		
}

